@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    background-color: rgba(218, 213, 201, 0.6);
}

.container {
    width: 1000px;
    min-height: 485px;
    margin: 10vh auto;
    padding: 20px;
    text-align: center;
    background-color: rgba(87, 170, 214, 0.6);
    border-radius: 10px;
    box-shadow: 0 0 2px rgba(137, 153, 161, 0.6)

}

.header {
    font-size: 2rem;
    margin-bottom: 20px;
}

.btn {
    font-size: 1rem;
    font-family: inherit;
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 30px 0 30px;
    box-shadow: 0 0 2px rgba(27, 37, 43, 0.6);
}

.btn:hover {
    color: #f4f4f4;
    background-color: rgba(1, 38, 58, 0.6);
    box-shadow: 0 0 5px 3px rgba(137, 153, 161, 0.6)
}

.btn:focus {
    border: none;
    outline: none;
}

.timer {
    display: none;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(255, 112, 112);
    box-shadow: 0 0 2px rgba(27, 37, 43, 0.6);
    margin-bottom: 15px;
    width: 300px;
}

.width-10 {
    display: inline-block;
    width: 10px;
}

.gif {
    height: 200px;
}

.question {
    width: 700px;
    font-size: 1.3rem;
    background-color: #f4f4f4;
    border: 1px solid rgba(146, 146, 146, 0.8);
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
}

.answer {
    background-color: rgba(180, 250, 247, 0.6);
    width: 300px;
    padding: 5px;
    margin: 5px auto;
    border: 1px solid rgb(157,158,158);
    border-radius: 10px;
}

.answer:hover {
    background-color: rgba(238, 135, 135, 0.6);
    animation-name: answer;
    animation-duration: .5s;
}

@keyframes answer {
    0% {
        background-color: rgba(157, 231, 250, 0.6);
    }
}

.result {
    font-size: 1.3rem;
    width: 700px;
    background-color: #f4f4f4;
    border: 1px solid rgba(146, 146, 146, 0.8);
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto 10px;
}
